<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Meadowlark Travel</title>
</head>
<body>
  <header>
    <img src="/img/logo.jpg" alt="Логотип" width="400">
  </header>
  {{{body}}}
</body>
</html>